# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Alembic (optional)
alembic/versions/*.pyc

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Database (if local)
*.sqlite3